@charset "UTF-8";

/* 共通部分
------------------------------------- */

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* ヘッダー
------------------------------------- */

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 180px;
  margin-top: 15px;
}

.nav {
  width: 200px;
  margin-top: 20px;
}

.nav ul {
  width: 100%;
  display: flex;
  gap: 10px;
}

.nav a:hover {
  color: deepskyblue;
}

@media (max-width: 600px) {
  
  header {
    height: 120px;
    flex-direction: column;
  }

  .logo,
  .nav {
    margin: 15px auto 0;
  }
}

/* ホーム
------------------------------------- */

#home {
  height: 100vh;
  background-image: url("../images/main-bg.jpg"), linear-gradient(limegreen, orangered);
  background-size: cover;
  background-position: center;
  background-color: deepskyblue;
  background-blend-mode: hard-light;
}

#home-content {
  height: 500px;
  width: 700px;
  padding-top: 100px;
  margin: 0 auto;
}

.title,
.text,
.btn {
  margin: 0 auto;
  text-align: center;
}

.title,
.text {
  margin-bottom: 15px;
}

.title {
  width: 670px;
  font-family: Philosopher, serif;
  font-size: 4rem;
  line-height: 1;
}

.text {
  width: 620px;
}

@media (max-width: 600px) {
  #home-content {
    height: 400px;
    width: 375px;
    padding-top: 50px;
  }

  .title {
    width: 350px;
    font-size: 2.5rem;
    line-height: 1.2;
  }
  
  .text {
    width: 320px;
  } 
}

.btn {
  width: 150px;
  display: block;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  background-color: deepskyblue;
}

.btn:hover {
  background-color: cornflowerblue;
}

/* ニュース
------------------------------------- */

#news {
  height: 50vh;
  background-image: url("../images/news-bg.jpg");
  background-size: cover;
  background-position: center;
}

#news-title {
  height: 100px;
  margin-top: 30px;
}

#news-contents {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-top: 25px;
}

/* 記事
------------------------------------- */

article {
  width: 65%;
  order: 2;
}

article div {
  margin-bottom: 30px;
}

#post-info {
  display: flex;
  gap: 10px;
}

#post-date {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: deepskyblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#post-date p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}

#post-date p:nth-child(1) {
  font-size: 1.25rem;
}

#post-date p:nth-child(2) {
  border-top: 1px solid white;
}

#post-title {
  height: 150%;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 25%;
}

#post-title h2,
#post-title p {
  height: 25%;
}

#post-title h2 {
  font-weight: normal;
}

#post-img {
  width: 100%;
}

#post-img img {
  width: 100%;
}

#post-text p {
  margin-top: 20px;
}

#post-text p:first-child {
  margin-top: 0px;
}

/* サイドバー
------------------------------------- */

aside {
  width: 15%;
  order: 3;
}

aside div {
  margin-bottom: 30px;
}

aside div:last-child {
  margin-bottom: 0px;
}

.sub-title,
.sub-text {
  padding: 10px 5px;
}

.sub-title {
  border-bottom: 2px solid deepskyblue;
  margin-bottom: 10px;
  font-weight: normal;
}

.sub-menu li {
  border-bottom: 1px solid antiquewhite;
  line-height: 2;
}

.sub-menu a {
  display: block;
}

/* 広告
------------------------------------- */
.ad {
  width: 10%;
  order: 1;
}

.ad img {
  width: 100%;
}

@media (max-width: 600px) {
  #news-contents {
    flex-direction: column;
  }

  article,
  aside,
  .ad {
    width: 100%;
  }

  .ad {
    order: 4;
  }
}

/* フッター
------------------------------------- */

footer {
  height: 50px;
  background-color: saddlebrown;
  text-align: center;
}

small {
  line-height: 50px;
}